<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="http://safe-plateau-2989.herokuapp.com/assets/application-4e1c83aee4efc6dfda6f86e06a0bab7e.css" media="all" rel="stylesheet" type="text/css" />
  <script src="http://safe-plateau-2989.herokuapp.com/assets/application-fd426e120dc2286ee78718649cde1846.js" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param" />
  <meta content="4c/mzZb2aDUEnWpZ0HHNzLsVqxxI1uY4EGJhSzgAMZU=" name="csrf-token" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
</head>

<body>
  <h1>Test page for HuntMobile</h1>

<p>
AMoAd Zone: [adnetwork_huntmobile_ios_web_huntmobile]<br>
<div class="ad_frame sid_62056d310111552c49df4b25a0076aef71417341efab0860e6015c3d97a730d4 container_div color_#6699FF-#CCCCCC-#000000-#0000FF-#009900 sp"></div>
</p>
<p>
AMoAd Zone: [adnetwork_huntmobile_ios_App_huntmobile]<br>
<div class="ad_frame sid_62056d310111552c49df4b25a0076aeff2b8acb4225f71dd953460bdf2eed9ff container_div color_#6699FF-#CCCCCC-#000000-#0000FF-#009900 sp wv"></div>
</p>
<p>
AMoAd Zone: [adnetwork_huntmobile_Android_web_huntmobile]<br>
<div class="ad_frame sid_62056d310111552c49df4b25a0076aefa30ae3ee191daec8ebd6ce24f9cbc87b container_div color_#6699FF-#CCCCCC-#000000-#0000FF-#009900 sp"></div>
</p>
<p>
AMoAd Zone: [adnetwork_huntmobile_Android_App_huntmobile]<br>
<div class="ad_frame sid_62056d310111552c49df4b25a0076aef46bd221fda271270faeb87067260369f container_div color_#6699FF-#CCCCCC-#000000-#0000FF-#009900 sp wv"></div>
</p>
<p>
  
  <script src='http://j.amoad.com/js/aa.js?link=' type='text/javascript' charset='utf-8'></script>
</body>
</html>
