<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
</head>
<body>
  <!-- AMoAd Zone: [インライン_ブログ_TOPヘッダー_ニュース_CAA_CAA] -->
  <div class="ad_frame sid_b933b6ed285c118e8bfbfe360c8b7e3676e8e4716f7609ec1c4601d3354e92e8 container_div color_#0000CC-#000000-#999999-#0000FF-#009900 sp"></div>

  <h1>What kind of photograph do you want to see ?</h1>
  <form mothod="post" action="./index">
	<input type="hidden" size="40" name="i" value="search" />
    <input type="text" size="40" id="q" name="q"/>
    <input type="submit" value="検索" />
  </form>

  <% if @data %>
    <h2>You are looking for "<%= @target_tag %>" tag's photos.</h2>
    <% @data.each do |data|  %>
	  <%#= debug(data) %>
	  <a href="<%= data['link'] %>"><%= image_tag data['thumbnail'] %></a>
    <% end %>
  <% elsif @i == 'search'  %>
    <h2>Nothing ... such a tag's data</h2>
  <% end %>
  
  <%#= debug(@result) %>
  <%#= debug(@request) %>
  <script src='http://j.amoad.com/js/aa.js' type='text/javascript' charset='utf-8'></script>
</body>
</html>

