<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="http://safe-plateau-2989.herokuapp.com/assets/application-4e1c83aee4efc6dfda6f86e06a0bab7e.css" media="all" rel="stylesheet" type="text/css" />
  <script src="http://safe-plateau-2989.herokuapp.com/assets/application-fd426e120dc2286ee78718649cde1846.js" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param" />
  <meta content="4c/mzZb2aDUEnWpZ0HHNzLsVqxxI1uY4EGJhSzgAMZU=" name="csrf-token" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
</head>

<body>
  <h1>Test page for Opera</h1>
<p>
iOs web<br>
SID：62056d310111552c37e049d931fa708c1447520b515a84212cf971469b843bcf<br>
<div class="ad_frame sid_62056d310111552c37e049d931fa708c1447520b515a84212cf971469b843bcf container_div color_#0000CC-#444444-#FFFFFF-#0000FF-#009900 sp"></div>
</p>

<p>
iOs App<br>
SID：62056d310111552c37e049d931fa708cf5bb4245da6036bd3c5923781244dee3<br>
<div class="ad_frame sid_62056d310111552c37e049d931fa708cf5bb4245da6036bd3c5923781244dee3 container_div color_#0000CC-#444444-#FFFFFF-#0000FF-#009900 sp"></div>
</p>

<p>
Android web<br>
SID：62056d310111552c37e049d931fa708c0db5821dae768aed61dd48404463a51c<br>
<div class="ad_frame sid_62056d310111552c37e049d931fa708c0db5821dae768aed61dd48404463a51c container_div color_#0000CC-#444444-#FFFFFF-#0000FF-#009900 sp"></div>	  
</p>

<p>
Android App<br>
SID：62056d310111552c37e049d931fa708c3005f5386a9cf94aa5487b414562a173<br>
<div class="ad_frame sid_62056d310111552c37e049d931fa708c3005f5386a9cf94aa5487b414562a173 container_div color_#0000CC-#444444-#FFFFFF-#0000FF-#009900 sp"></div>	  
</p>

  <script src='http://j.amoad.com/js/aa.js?link=' type='text/javascript' charset='utf-8'></script>
</body>
</html>
