<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="http://safe-plateau-2989.herokuapp.com/assets/application-4e1c83aee4efc6dfda6f86e06a0bab7e.css" media="all" rel="stylesheet" type="text/css" />
    <script src="http://safe-plateau-2989.herokuapp.com/assets/application-fd426e120dc2286ee78718649cde1846.js" type="text/javascript"></script>
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="4c/mzZb2aDUEnWpZ0HHNzLsVqxxI1uY4EGJhSzgAMZU=" name="csrf-token" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
  </head>

  <body>
    <h1>Test page to render third party delivery </h1>

    <!--<p><div class="ad_frame sid_b933b6ed285c118ee142fe746cad7a5451941d55a0eb667d4f81d1bd79b5a6b1 container_div color_#6699FF-#CCCCCC-#000000-#0000FF-#009900 sp"></div></p>-->
	<!-- AMoAd Zone: [adnetwork_harrenmedia_ios_web_harrenmedia] -->
<div class="ad_frame sid_62056d310111552c843305781c00291791ef534e3ce6412d0def4d169c672f43 container_div color_#6699FF-#CCCCCC-#000000-#0000FF-#009900 sp"></div>

    <script src='http://j.amoad.com/js/aa.js?link=' type='text/javascript' charset='utf-8'></script>
  </body>
</html>
